/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/contacform/ContactForm.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.ContactForm_contact_container__nyM_M {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	max-width: 50%;
	margin: auto 0;
	text-align: center;
	margin: 20px;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/contactphone/ContactPhone.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.ContactPhone_form_container__czZUF {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 50%;
	margin: auto 0;
	text-align: center;
}

.ContactPhone_contactphone_container__WMbpc {
	margin: 0 20px;
}

.ContactPhone_contactphone_title__vt1Vt {
	font-size: 25px;
	text-align: center;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/footer/Footer.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer_list__JwGRe {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-overflow: ellipsis;
	overflow-wrap: break-word;
}

/* Responsive */

@media only screen and (max-width: 600px) {
	.Footer_footer_list__JwGRe {
		flex-direction: column;
		align-items: center;
	}
}

.Footer_footer_list_item__s4suE {
	margin: 5px;
}

.Footer_footer_list_item__s4suE:nth-child(3) {
	display: flex;
	flex-direction: column;

	margin: 5px 0;
}

